.game {
    display: flex;
    flex-direction: row;
}

.gameInfo {
    margin-left: 20px;
    ul {
        list-style-type: none;
        padding-left: 15px;
    }
}

.history {
    background: none;
    border: none;
    text-decoration: none;
    color: #333;
}

.history:hover {
    text-decoration: underline;
    cursor: pointer;
}
